<%= form_for([@post, @post.comments.build]) do |f| %>
	<div class="fieldddd">
		<%# <%= f.label :Имя %><br /> </div>

		<%= f.text_field :commenter, :class => "form22" %> %>

		<div class="field">
		    <%= current_user.email %>
		</div>

	<div class="field2">
		<%= f.label :Текст %><br />	</div>
		<%= f.text_area :body, :class => "form33" %>


		<%= f.submit :class => "actions2"%>

<% end %>
