<body class="home">
<div class="firsttext">
<h1>Изи Флекс</h1>
</div>
<div class="text2">
  <h2>Учитесь танцам,<br>
не выходя из дома</h2>
</div>

<div class="link2">
  <%= link_to "о проекте", about_path %>
</div>
<div class="link1">
  <%= link_to "промо", promo_path %>
</div>
<div class="link3">
  <%= link_to "афиша", posts_path %>
</div>

<%= image_tag "GuX7o.gif", :class => "gif"%>

<%= image_tag "iphone1.png", :class => "img"%>
<div class="text3">
Медиа-сервис для занятия танцами дома. Забудьте о рамках и социальном неодобрении.
Только танцы. Только флекс.
</div>
<div class="secondtext">
  <h1>Будь <br>
на волне</h1>
</div>
<div class="text4">
  <h2>Учись по видео<br>популярных танцоров,<br>отрывкам из известных<br>фильмов и даже KPOP.</h2>
</div>
<div class="thirdtext">
  <h1>Возможности</h1>
</div>
<%= image_tag "Group 22", :class => "svg1"%>
<%= image_tag "Group 23", :class => "svg2"%>
<%= image_tag "Group 24", :class => "svg3"%>
<div class="text5">
  Прокачивай<br>свой танцевальный<br>уровень
</div>
<div class="text6">
  Присоединяйся<br>
к закрытым группам
</div>
<div class="text7">
  Получи доступ<br>к плейлисту с видео<br>от наших танцоров
</div>
<%= image_tag "iphone2.png", :class => "img2"%>

    <%= image_tag "1234567.png", :class => "img3"%>
    <div class="text8">
      <h2>Никого не слушайте!<br>
Танцуйте!<br>
Кайфуйте!<br>
Жизнь одна! </h2>
    </div>
    <div class="emailtext">
  <h2>Узнавайте о флекс-новостях <br> самыми первыми</h2>
    </div>

<%= render "subscribers/form" %>



<div class="link5">
  <%= link_to "о проекте", about_path %>
</div>
<div class="link4">
  <%= link_to "промо", promo_path %>
</div>
<div class="link6">
  <%= link_to "афиша", posts_path %>
</div>
