<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="title1">
     Стайлгайд
   </div>
     <%= image_tag "logos.svg", :class => "logos"%>


  <div class="sidebar">
    <a href="#brendd">О бренде</a>
    <a href="#logoo">Логотип</a>
    <a href="#colorr">Цвета</a>
    <a href="#typoo">Типографика</a>
    <a href="#gridd">Сетка</a>
    <a href="#comp">Композиция</a>
    <a href="#photoo">Фото</a>
    <a href="#graphh">Графика</a>
    <a href="#tonee">Tone of Voice</a>
    <a href="#merchh">Мерч</a>
  </div>

 <h1 class="brend" id="brendd">Бренд</h1>


 <div class="semant1">
активный <br>
уверенный <br>
дерзкий<br>
веселый<br>
задумчивый<br>
 </div>

  <div class="semant2">
    новый <br>
    известный<br>
    другой<br>
    социальный<br>
    гармоничный<br>
  </div>

<h2 class="brend2">Ценности</h2>

<p class="brend3">Танцы в удовольствие, чтобы выпустить<br> наружу свою внутренюю богиню <br>
<br>
Танцы наедине с самим собой,<br> без переживаний о социальном<br> неодобрении<br>
<br>
Танцы в гармонии с самим собой,<br> научись слушать себя и свое тело<br>
<br>
Самосовершенствование<br>
<br>
Поддержание своего тела в тонусе,<br> укрепление здоровья<br></p>

<h2 class="brend4">Миссия</h2>
<p class="brend5">
Мы сделаем так, чтобы каждый человек <br> обрел уверенность в себе, благодаря<br> танцам.
</p>

 <h1 class="logo" id="logoo">Логотип</h1>
<h2 class="logo2">Характер</h2>
<p class="logo3">Логотип – состоит из названия <br> бренда. Специально подобран шрифт <br> с буквами, графема которых разная.<br> Каждая буква уникальна, потому что <br>танцы – это разнообразие.</p>

<%= image_tag "logos.svg", :class => "logos2"%>
<h2 class="logo4">Построение</h2>
<p class="logo5">Слова в логотипе соединяются друг <br> с другом, потому что танец – это одно <br>целое</p>
<h2 class="logo6">Охранное поле</h2>
<p class="logo7">Охранное поле логотипа <br> рассчитывается по модулю высоты <br> прописной буквы «и».</p>
<%= image_tag "pole.svg", :class => "logo8"%>
<h2 class="logo9">Использование</h2>
<p class="logo10">Логотип может использоваться только <br> в двух цветах, в зависимости от того <br> на каком фоне он расположен (светлом <br> или тёмном).</p>
<%= image_tag "colorlogo.svg", :class => "logo11"%>
<p class="logo12">Располагаем в верхнем левом углу.<br>
<br>
Допустимо ставить логотип по центру<br> в исключительных случаях (когда углов<br> нет, например, на бутылках или на круглых<br> формах).</p>


 <h1 class="color" id="colorr">Цвета</h1>
<%= image_tag "colorimg.svg", :class => "color2"%>
<h2 class="color3">Соотношение</h2>
<%= image_tag "colorimg2.svg", :class => "color4"%>
<h2 class="color5">Цветовые схемы</h2>
<%= image_tag "colorimg3.svg", :class => "color6"%>


 <h1 class="typo" id="typoo">Типографика</h1>
<h2 class="typo2">Шрифты</h2>
<%= image_tag "typoimg.svg", :class => "typo3"%>
<h2 class="typo4">Размеры и начертания</h2>
<%= image_tag "typoimg2.svg", :class => "typo5"%>

 <h1 class="grid" id="gridd">Сетка</h1>
<%= image_tag "gridimg.svg", :class => "grid2"%>
<p class="grid3">5 колонок.<br>
Margin – 10% относительно ширины<br> формата.<br>
Межколонник – 5% относительно<br> ширины формата.</p>
<h2 class="grid4">Форматы</h2>
<%= image_tag "gridimg2.svg", :class => "grid5"%>
 <h1 class="grid6" id="comp">Работа с сеткой</h1>
<h2 class="grid7">Посты в инстаграм</h2>
<%= image_tag "gridimg33.svg", :class => "grid8"%>
<%= image_tag "111.jpg", :class => "grid9"%>
<%= image_tag "222.jpg", :class => "grid10"%>
<%= image_tag "333.jpg", :class => "grid11"%>


<h1 class="photo" id="photoo">Фото</h1>
<p class="photo2">Фотографии для социальных сетей <br> выбираются с учётом следующих <br> критириев:</p>
<p class="photo3">1.Люди в танцевальной одежде
  <br>
2.Выглядят уверенно
  <br>
3.Взгляд человека на фото должен смотреть свеху вниз<br>(избегать обратное, так как на фото должна быть уверенность)
  <br>
4.Люди на фото должны выполнять различные танцевальные<br> движения либо позировать</p>
<%= image_tag "photoimg.svg", :class => "photo4"%>
<%= image_tag "image 4.jpg", :class => "photo5"%>
<%= image_tag "image 8.jpg", :class => "photo6"%>
<%= image_tag "image 13.jpg", :class => "photo7"%>
<p class="photo8">Нейтральные фотографии, на которых яркими выглядят <br> именно люди, а не окружающее их пространство</p>
<h2 class="photo9">Сюжеты</h2>
<p class="photo10">Групповые фото</p>
<%= image_tag "image 4.jpg", :class => "photo11"%>
<%= image_tag "image 8.jpg", :class => "photo12"%>
<p class="photo13">Один человек на фото в позе</p>
<%= image_tag "image 25.jpg", :class => "photo14"%>
<%= image_tag "image 24.jpg", :class => "photo15"%>
<%= image_tag "image 30.jpg", :class => "photo16"%>
<p class="photo17">Человек или группа людей в движении</p>
<%= image_tag "image 13.jpg", :class => "photo18"%>
<%= image_tag "image 28.jpg", :class => "photo19"%>


 <h1 class="graph" id="graphh">Графика</h1>
<h2 class="graph2">Метафора</h2>
<p class="graph3">Бывают разные движения: есть движения отрывистые,<br>
а есть плавные переходящие друг в друга, есть чёткие <br> и пересекающиеся движения, а есть слегка заметные.<br>
Все эти движения мы делаем нашим телом, образуя <br> своеобразные линии, которые складываются в рисунок - <br>в танец.</p>
<%= image_tag "graphimg.svg", :class => "graph4"%>
<%= image_tag "graphimg2.svg", :class => "graph5"%>
<h2 class="graph6">Использование</h2>
<p class="graph7">Три паттерна</p>
<%= image_tag "graphimg3.jpg", :class => "graph8"%>
<%= image_tag "graphimg4.jpg", :class => "graph9"%>
<%= image_tag "graphimg5.jpg", :class => "graph10"%>
<p class="graph11">Применяются на одежде и в мерче. <br>
Допустимо использовать части паттерна для социальных <br>
сетей. <br>
<br>
Третья (зеленая линия) вводится в гораздо мешьшем <br> количестве, чем линии двух других цветов. Она появляется <br> только на темном фоне и иногда на белом. <br>
<br>
Допустимо использовать только два варианта линий: <br>
<br>
Stroke 10px <br>
Stroke 3px <br>
<br>
От характера и настроения текста в постах, плакатах, <br> или банерах зависит характер и жирность линий.
</p>
<%= image_tag "graphimg6.jpg", :class => "graph12"%>
<%= image_tag "graphimg7.jpg", :class => "graph13"%>
<%= image_tag "graphimg8.svg", :class => "graph14"%>
<h2 class="graph15">Графика и фото</h2>
<p class="graph16">Графика напрямую взаимодейсвует с фотографией. <br> С помощью тех же линий мы повторяем движения <br> человека на фото.</p>
<%= image_tag "graphimg9.jpg", :class => "graph17"%>
<%= image_tag "graphimg10.jpg", :class => "graph18"%>


 <h1 class="tone" id="tonee">Tone of voice</h1>
<p class="tone2">Наша миссия – сделать людей уверенными <br> в себе с помощью танцев, поэтому <br> мы разговариваем с пользователем <br>
в побудительной форме. Уверенность – это <br> еще и смелось, поэтому мы говорим чётко <br>
и прямолинейно, без стеснения и поиска <br> правильных слов (если призываем человека <br> флексить, значит так и говорим). Но главное – <br> несмотря на прямолинейность, мы бережём <br> друг друга, поддерживаем и не говорим <br> гадости.</p>


 <h1 class="merch" id="merchh">Мерч</h1>
 <%= image_tag "m1.jpg", :class => "merch2"%>
 <%= image_tag "m2.jpg", :class => "merch3"%>

 <%= image_tag "m3.jpg", :class => "merch4"%>
 <%= image_tag "m4.jpg", :class => "merch5"%>

 <%= image_tag "m5.jpg", :class => "merch6"%>
 <%= image_tag "m6.jpg", :class => "merch7"%>
 <%= image_tag "m7.jpg", :class => "merch8"%>
 <%= image_tag "m8.jpg", :class => "merch9"%>

 <%= image_tag "m9.jpg", :class => "merch10"%>
 <%= image_tag "m10.jpg", :class => "merch11"%>
 <%= image_tag "m11.jpg", :class => "merch12"%>
 <%= image_tag "m12.jpg", :class => "merch13"%>
 <%= image_tag "m13.jpg", :class => "merch14"%>
 <%= image_tag "m14.jpg", :class => "merch15"%>
<h2 class="merch16">Соц. сети</h2>
 <%= image_tag "m15.jpg", :class => "merch17"%>
<%= image_tag "m16.jpg", :class => "merch18"%>
<%= image_tag "m17.jpg", :class => "merch19"%>
<%= image_tag "m18.jpg", :class => "merch20"%>
<%= image_tag "m19.jpg", :class => "merch21"%>
<h2 class="merch22">Плакаты</h2>
<%= image_tag "m20.jpg", :class => "merch23"%>
<%= image_tag "m21.jpg", :class => "merch24"%>
<%= image_tag "m22.jpg", :class => "merch25"%>


<p class="footer">2021</p>
<p class="footer2">Изи Флекс</p>

  </body>
</html>
