<%= image_tag "Mask Group2.svg", :class => "background"%>
<div class="link2">
  <%= link_to "о проекте", about_path %>
</div>
<div class="link1">
  <%= link_to "промо", promo_path %>
</div>
<div class="link3">
  <%= link_to "афиша", posts_path %>
</div>
<div class="thinkdance">
  <h1>Думай только<br>о танцах!</h1>
</div>
<div class="bigtext">
  <h2>Изи Флекс – это медиа-<br>сервис с обучающими<br>видео и гифками в разных<br>направлениях с разным<br>уровнем.
</h2>
</div>
<div class="ttteeexst">
Здесь вы сможете изучать искусство танца.<br>
Наша платформа предоставляет разнообразный<br>контент: от  открывков из любимых фильмов,<br>до закрытых групп с опытными танцорами.
</div>
<div class="ttteeexst2">
Мы проинтервьюировали 10<br>респондентов и выяснили,<br>что <b>танцы помогают<br>им поддерживать себя в хорошей<br>физической форме, получать<br>эмоциональную разгрузку,<br>концентрироваться на внутренних<br>ощущениях</b>.
</div>
<div class="ttteeexst3">
Однако у многих есть<br>сдерживающие факторы, которые<br>не позволяют заниматься танцами<br>очно, начиная от проблем<br>со времением и местом, заканчивая<br>социальным неодобрением.
</div>
<%= image_tag "phone.png", :class => "image"%>

<div class="bigtext2">
  <h2>Поэтому мы создали медиа-сервис,<br>который позволяет:
</h2>
</div>

<%= image_tag "phone2.png", :class => "image2"%>
<h1>About#index</h1>
<p>Find me in app/views/about/index.html.erb</p>
<%= image_tag "Group 28.png", :class => "Gel"%>
<div class="ttteeexst4">
не тратить время<br>и деньги на дорогу<br>до студии
</div>
<%= image_tag "Group 29.png", :class => "Kar"%>
<div class="ttteeexst5">
расслабиться<br>и не задумываться<br>о чужом мнении
</div>
<%= image_tag "Group 11.svg", :class => "b1"%>
<div class="ttteeexst6">
заниматься танцами<br>дома
</div>
<%= image_tag "Group 10.svg", :class => "b2"%>
<div class="ttteeexst7">
пофлексить в свое<br>удовольствие<br>и получить заряд<br>положительных<br>эмоций
</div>
<div class="verytext">
  <h1>Аудитория</h1>
</div>

<div class="aud">
  Основная:
</div>
<div class="audd">
  люди, которые хотят научиться<br>танцевать/хотят заниматься танцами<br>(люди, которые не могут заниматься<br>очно в том числе).
</div>
<div class="aud2">
  Косвенная:
</div>
<div class="audd2">
  хореографы, профессиональные<br>танцоры.
</div>
<div class="aud3">
  Узкая:
</div>
<div class="audd3">
  любители конкретного направления.
</div>
<div class="aud4">
  Широкая:
</div>
<div class="audd4">
  любители танцев в целом.
</div>
<div class="verytext2">
  <h1>Функционал</h1>
</div>
<div class="func">
  <UL>
    <LI class="func"> классы по направлениям </LI>
    <LI class="func2"> второй аккаунт с персональными<br>отслеживанием уровня </LI>
    <LI class="func3"> афиша с мероприятиями </LI>
    <LI class="func4"> разделения каждого направления на гифки,<br>закрытые группы с ссылками на зум<br>и контактами преподавателей и закрытый<br>плейлист на ЮТ</LI>
  </UL>
</div>



<div class="verytext3">
  <h1>Механики</h1>
</div>

<div class="mech1">
  поиск
</div>
<div class="mech2">
  разделы с описанием
</div>
<div class="mech3">
  контент разного формата
</div>
<div class="mech4">
  сортировка по категориям
</div>
<div class="mech5">
  сохранение пройденного материала
</div>




<div class="verytext4">
  <h1>Команда</h1>
</div>
<%= image_tag "Group 12.svg", :class => "b3"%>
<%= image_tag "Group 13.svg", :class => "b4"%>

<div class="ttteeexst8">
Ангелина Рощик
</div>
<div class="ttteeexst9">
Карина Линден
</div>
<div class="kaifff">
  Никого не слушайте!<br>
Танцуйте!<br>
Кайфуйте!<br>
Жизнь одна!<br>
</div>
<div class="link555">
  <%= link_to "о проекте", about_path %>
</div>
<div class="link444">
  <%= link_to "промо", promo_path %>
</div>
<div class="link666">
  <%= link_to "афиша", posts_path %>
</div>
<%= link_to "Blog", posts_path %>
